<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="monitorFilePath" value="C:\Users\vern\Documents\WorkArea\MyProjects\NomNom\NomNom\monitors.xml" />
    <add key="maxRetry" value="5" />
    <add key="retryIntervalMilliseconds" value="120000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>